@model DAL.Models.ScienceWork

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы действительно хотите удалить  эту запись?</h3>
<div>
    <h4>Выпускная работа</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScienceDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScienceDirection)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index") 
            
        </div>
    }
</div>
