@model IEnumerable<WebUI.Admin.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Create New", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayNameFor(modelItem => modelItem.Roles)
        </td>
        <td>
            <a href="/Users/Edit?id=@item.Id">Edit</a> |
            <a href="/Users/Delete?id=@item.Id">Delete</a> 
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Главное меню", "Index", "Admin")
</div>
