
<div class="sidebar">
    <nav id="navbar">
        <ul id="main-menu">
            <li><a ><i class="fa fa-home"></i>@Html.ActionLink("Занятия", "Index", "Courses")</a></li>
            <li><a><i class="fa fa-list-alt"></i>@Html.ActionLink("Расписание", "Index", "Schedules")</a></li>
            <li><a ><i class="fa fa-list-alt"></i>@Html.ActionLink("Группы", "Index", "Groups")</a></li>
            <li><a ><i class="fa fa-list-alt"></i>@Html.ActionLink("Преподаватели", "Index", "Teachers")</a></li>
            <li><i class="fa fa-quote-left"></i>@Html.ActionLink("Новости", "Index", "News")</li>
           <!-- <li><a href="#" target="_blank"><i class="fa fa-user"></i>Contact</a></li>-->
        </ul>
    </nav>
</div> 
