
<div class="sidebar">
    <nav id="navbar">
        <ul id="main-menu">
            <li><a ><i class="fa fa-home"></i>@Html.ActionLink("Занятия", "Index", "Courses")</a></li>
            <li><a><i class="fa fa-list-alt"></i>@Html.ActionLink("Расписание", "Index", "Schedules")</a></li>
            <li><a ><i class="fa fa-list-alt"></i>@Html.ActionLink("Научные работы", "Index", "ScienceWorks")</a></li>
            <li><a ><i class="fa fa-list-alt"></i>@Html.ActionLink("Группы", "Index", "Groups")</a></li>
            <li><a ><i class="fa fa-list-alt"></i>@Html.ActionLink("Преподаватели", "Index", "Teachers")</a></li>
           <!-- <li id="dropdown-item"><a href="#"><i class="fa fa-coffee"></i>Work With Me</a></li>
            <ul id="submenu" class="hide-submenu">
                <li>AngularJS</li>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>-->
            <li><a ><i class="fa fa-quote-left"></i>@Html.ActionLink("Выпускники", "Index", "Graduates")</a></li>
           <!-- <li><a href="#" target="_blank"><i class="fa fa-user"></i>Contact</a></li>-->
        </ul>
    </nav>
</div> 
