<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
@using WebUI;
<body> 
    <div class="wrap">
        <!-- header -->   
        <header>
            <div class="container">            
                <nav>
                    <ul>
                        <li class="m1">@Html.ActionLink("Русский", "ChangeCulture", "Home", new { lang = "ru", returnUrl = this.Request.RawUrl }, null)</a></li>
                        <li class="m2">@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</a></li>                
                    </ul>                          
                </nav>    
            @Html.Partial("_LoginPartialUser", "Account")</div>
        </header> 
        @Html.Partial("_Carousel")
        <div class="container">
            <!--Боковое меню. Главное меню?-->
            <aside>
                <h3>Меню</h3>
                <ul class="categories">
                    <li><span><a href="#" target="_blank">@Html.ActionLink(ViewRes.Resource.TitleMainPage, "Index", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink(ViewRes.Resource.MenuNews, "News", "News")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink(ViewRes.Resource.MenuTimeTable, "TimeTableView", "Home")</a></span></li>
                    <!--Верный способ указывать--> @if (User.IsInRole("ContentManager") || User.IsInRole("Admin")) {<li><span><a href="#" target="_blank">@Html.ActionLink(ViewRes.Resource.MenuStudents, "Index", "Graduates")</a></span></li>}
                   <li><span><a href="#" target="_blank">@Html.ActionLink(ViewRes.Resource.MenuTeachers, "TeachersView", "Home")</a></span></li>
                    @if (User.IsInRole("ContentManager") || User.IsInRole("Admin"))
                    {
                    <li><span><a href="#" target="_blank">@Html.ActionLink("ВКР", "Index", "ScienceWorks")</a></span></li>}
                    <li class="last"><a href="#" target="_blank">@Html.ActionLink(ViewRes.Resource.MenuAbout, "About", "Home")</a></span></li>
                </ul>
           
                <h2>@ViewRes.Resource.Fresh<span>@ViewRes.Resource.news</span></h2>
                @{  
                   
                    @Html.Action("_PartialLayoutNews", "Home")
                    }
            </aside>
            <!-- content -->
            <section id="content">
            @RenderBody()
            </section>
        </div>
    </div>
    <!-- footer -->
    <footer>
        
        <div class="container">
            <div class="inside">
                <div class="wrapper">
                    <div class="fleft"><span>@DateTime.Now.Year</span></div>
                    <div class="aligncenter">
                       Project KafWebSite by Vasily
                    </div>
                </div>
            </div>
        </div>
    </footer>   
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
    
</body >
</html >
<script>
    log_visible();

</script >
    <script>
        function menuInit() {
    var dropdown = document.getElementById("dropdown-item");
    var submenu = document.getElementById("submenu");

    dropdown.onmouseover = popOutMenu;
    dropdown.onmouseout = hideDropdown;

    submenu.onmouseover = popOutMenu;
    submenu.onmouseout = hideDropdown;
}

function popOutMenu()
{
    submenu.className = "show-submenu";
}

function hideDropdown()
{
    submenu.className = "hide-submenu";
}
</script >











