<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*Сюда нужно поместить регистрацию и логин @Html.Partial("_LoginPartial")*@
</head>
@using WebUI;
<!--<body onload="menuInit();">
     <input type="checkbox" id="hmt" class="hidden-menu-ticker">
    <label class="btn-menu" for="hmt">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
    </label>
    <div class="sidebar">   
        <nav id="navbar">
            <ul id="main-menu">
                <li><a href="#" target="_blank"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-list-alt"></i>@*@Html.ActionLink("ABOUT US", "About", "Home")*@</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-list-alt"></i>About</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-list-alt"></i>About</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-list-alt"></i>About</a></li>
                <li id="dropdown-item"><a href="#"><i class="fa fa-coffee"></i>Work With Me</a></li>
                <ul id="submenu" class="hide-submenu">
                    <li>AngularJS</li>
                    <li>JavaScript</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                </ul>
                <li><a href="#" target="_blank"><i class="fa fa-quote-left"></i>Testimonials</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-user"></i>Contact</a></li>
            </ul>main-menu
        </nav>
    </div> -->

    <!-- body 
    <div class="container">
      

        
        <div class="container body-content">
            <hr />
            <footer>
                <p>&copy;  – Курсовой проект Банашко Александра по дисциплине "Веб-технологии"</p>
            </footer>
        </div>
    </div>-->
<body> 
    <div class="wrap">
        <!-- header -->
        <h1><%=ViewRes.SharedStrings.Title%></h1>
        <header>    
            <div class="container">
                <h1><a href="#" target="_blank">@Html.ActionLink("Сайт кафедры магии и волшебства", "Index", "Home")</a></h1>
                <nav>
                    <ul>
                        <li><a href="about-us.html" class="m2">About Us</a></li>
                        <li><a href="contact-us.html" class="m4">Contact Us</a></li>
                        <li class="last"><a href="sitemap.html" class="m5">Site Map</a></li>                 
</ul>
                </nav>
                <form action="" id="search-form">
                    <fieldset>
                        <div class="rowElem">
                            @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)
                            @Html.ActionLink("Русский", "ChangeCulture", "Home", new { lang = "ru", returnUrl = this.Request.RawUrl }, null)
                        </div>
                    </fieldset>
                </form>
            </div>
        </header>
        <div class="container">
            <!--Боковое меню. Главное меню?-->
            <aside>
                <h3>Меню</h3>
                <ul class="categories">
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Главная страница", "Index", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Новости", "News", "News")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Архив публикаций", "About", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Учебные планы", "TimeTableView", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Выпускники", "StudentsView", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Сотрудники", "TeachersView", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("О нас", "About", "Home")</a></span></li>
                    <li><span><a href="#" target="_blank">@Html.ActionLink("Карта сайта", "About", "Home")</a></span></li>
                    <li class="last"><span><a href="#">Calendar</a></span></li>
                </ul>
              <!--  <form action="" id="newsletter-form">
                    <fieldset>
                        <div class="rowElem">
                            <h2>Newsletter</h2>
                            <input type="email" value="Enter Your Email Here" onFocus="if(this.value=='Enter Your Email Here'){this.value=''}" onBlur="if(this.value==''){this.value='Enter Your Email Here'}">
                            <div class="clear"><a href="#" class="fleft">Unsubscribe</a><a href="#" class="fright" onClick="document.getElementById('newsletter-form').submit()">Submit</a></div>
                        </div>
                    </fieldset>
                </form>-->
                <h2>Fresh <span>News</span></h2>
                @Html.Action("_PartialLayoutNews")
            </aside>
            <!-- content -->
            <section id="content">
            @RenderBody()
            </section>
        </div>
    </div>
    <!-- footer -->
    <footer>
        
        <div class="container">
            <div class="inside">
                <div class="wrapper">
                    <div class="fleft"><span>@DateTime.Now.Year</span></div>
                    <div class="aligncenter">
                        <a rel="nofollow" href="http://www.templatemonster.com" class="new_window">Website template</a> designed by TemplateMonster.com<br>
                        <a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com
                    </div>
                </div>
            </div>
        </div>
    </footer>   
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
     function menuInit() {
         var dropdown = document.getElementById("dropdown-item");
         var submenu = document.getElementById("submenu");

         dropdown.onmouseover = popOutMenu;
         dropdown.onmouseout = hideDropdown;

         submenu.onmouseover = popOutMenu;
         submenu.onmouseout = hideDropdown;
     }

     function popOutMenu() {
         submenu.className = "show-submenu";
     }

     function hideDropdown() {
         submenu.className = "hide-submenu";
     }
</script>




















@* <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
            <li>@Html.ActionLink("О программе", "About", "Home")</li>
            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
        </ul>*@