@model DAL.Models.ScienceWork

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScienceWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Graduate.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScienceDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScienceDirection)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
