@model IEnumerable<DAL.Models.ScienceWork>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Graduate.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScienceDirection)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScienceDirection)
        </td>
        <td>
            <a href="/ScienceWorks/Edit?id=@item.Id">Edit</a> |
            <a href="/ScienceWorks/Delete?id=@item.Id">Delete</a> 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Главное меню", "Index", "Admin")
</div>
